/*header related styles*/
.header{
    background-color: rgba(229, 84, 115, 0.10);
    width: 1920px;
    height: 850px;
    flex-shrink: 0;
}

.banner-title{
    display: flex;
    width: 780px;
    height: 288px;
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
}

p {
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-primary{
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-style: ;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner{
    display: flex;
    justify-content: space-between;
    padding: 50px 0px 0px 0px;
    align-items: center;
}

.banner .pic {
    width: 635px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 240px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-primary:hover
{
    background-color: white;
    color: #E55473;
}